## Django backend
server/innbackend/db.sqlite3

server/innbackend/innbackend/__pycache__


## React frontend
# dependencies
web/innfrontend/node_modules
web/innfrontend/.pnp
web/innfrontend/.pnp.js

# testing
web/innfrontend/coverage

# production
web/innfrontend/build

# misc
web/innfrontend/.DS_Store
web/innfrontend/.env.local
web/innfrontend/.env.development.local
web/innfrontend/.env.test.local
web/innfrontend/.env.production.local

web/innfrontend/npm-debug.log*
web/innfrontend/yarn-debug.log*
web/innfrontend/yarn-error.log*

## VSCode
.vscode
