## Django backend
server/innbackend/db.sqlite3

server/innbackend/innbackend/__pycache__


## React frontend
# dependencies
web/innfrontend/node_modules
web/innfrontend/.pnp
web/innfrontend/.pnp.js
/node_modules
/.pnp
.pnp.js
.idea
.vscode
/server/innbackend/.vscode

# testing
web/innfrontend/coverage

# production
web/innfrontend/build

# misc
web/innfrontend/.DS_Store
web/innfrontend/.env.local
web/innfrontend/.env.development.local
web/innfrontend/.env.test.local
web/innfrontend/.env.production.local

web/innfrontend/npm-debug.log*
web/innfrontend/yarn-debug.log*
web/innfrontend/yarn-error.log*

## VSCode
.vscode
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
/server/innbackend/.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

0*.py

#db
/server/innbackend/db.sqlite3

#django migrations
/server/innbackend/innapp/migrations
/server/innbackend/innbackend/migrations
/server/innbackend/userpreferences/migrations

#django
/server/innbackend/innbackend/__pycache__
