[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-cors-headers = "*"
djangorestframework = "==3.11.0"
dj-rest-auth = "*"
djangorestframework-simplejwt = "*"
pyjwt = "==1.7.0"
djangorestframework-jwt = "*"
django-faicon = "*"
django-semantic-admin = "*"
django-allauth = "*"
gunicorn = "*"
whitenoise = "*"

[requires]
python_version = "3.8"
